.meanings {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 55vh;
    border: 10px solid rgba(105, 105, 105);
    border-radius: 10px;
    padding: ;
}
.subtitle {
    font-size: 5vw;
    font-family: 'Motserrat', sans-serif;
}

