.meanings {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 55vh;
    border: 10px solid r;
}
.subtitle {
    font-size: 5vw;
    font-family: 'Motserrat', sans-serif;
}

